/* HomePage.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  font-family: 'Poppins', sans-serif;}
/* .home-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: xx-large;
} */
